<div class="form-container">
  <div class="form-box">
    <h4 class="form-title">通知一覧</h4>
      <table class="table table-hover">
        <% @notifications.each do |notification| %>
          <tr>
            <td>
              <%= notification.visitor.name %><span>さんが</span>
              <% case notification.action
                when "like" %>
                <%= link_to post_image_path(notification.post_image_id) do %>
                  <span class="visited-post-image">あなたの投稿</span>
                <% end %>
                にいいねしました！
                <% when "comment" %>
                <%= link_to post_image_path(notification.post_image_id) do %>
                  <span class="visited-post-image">あなたの投稿</span>
                <% end %>
                にコメントしました！
                <% when "approve" %>
                あなたを承認しました！
                <% when "edit_approve" %>
                あなたの権限を変更しました！
              <% end %>
            </td>
            <td>
              <%= notification.created_at.to_s(:datetime_jp) %>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
</div>